  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #2293df;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  a:hover:not(.active) {
    background-color: #564E6C;
    color: white;
  }
  
  /* Style page content */
  .main {
    margin-left: 400px; /* Same as the width of the sidebar */
    padding: 3px 10px;
    width: 60%;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/*Login */
th{
    font-size: 20px;
    font-family: sans-serif;
  }
  td{
    font-size: 13px;
    font-family: sans-serif;
  }.buttonlogin{
    margin-left: 120px;
    width: 300px;
    background-color: skyblue;
    color: white;
    height: 30px;
  }.inputlogin{
    margin-left: 120px;
    width:290px;
    height: 20px;
  }.tablelogin{
    width: 40%;
    margin-top: 170px;
    background-color: #04364A;
    color: white;
    border-radius: 10px;
  }.labellogin{
    margin-left: 120px;
  }.buttonlogin:hover{
    background-color: blue;
  }.login{
    background-color: skyblue;
  }
  
  
  /*Master Role*/
  .konten{
    margin-left: 9px;
  }.edit{
    background-color: green;
    color: white;
  }.hapus{
    background-color: red;
    color: white;
    font-family: sans-serif;
  }.masterrolebutton{
    background-color: blue;
    color: white;
    font-size: 20px;
    width: 200px;
  }.masterrolebutton:hover{
    background-color: skyblue;
  }
  
  
  /* Role*/
  .inputrole{
    width: 600px;
    height: 30px;
  }.buttonrole{
    width: 600px;
    height: 30px;
    background-color: blue;
    color: white;
  }.buttonrole:hover{
    background-color: skyblue;
  }.selectuser{
    width: 600px;
    height: 20px;
  }
  
  /* Logo */
  .logo{
    margin-right :50px;
  }
  
  
  /*Sidebar*/
  .sidenav {
    font-size: 10px;
    color: white;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 260px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(19, 19, 19); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; 
    
  }
  
